# Eclipse project files
.cproject
.project

# Binaries
Resources/
!Resources/Manifest

# Executable
utsuho

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
